body{
     margin: 0px;
     padding: 0px;
}

.active{
    display: block !important;
}
.hidden{
   display: none !important;
}

.outerComtainer{
    height: 100vh;
    width: 100vw;
    background-color:rgb(230, 230, 255);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.innerContainer{
    height: 70%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 102, 153);
}

img{
    mix-blend-mode:multiply;
    transition: box-shadow 0.3s ease-in-out;
}
.imgContainer{
    width: 100%;
    border-top-left-radius: 25px;  
    border-top-right-radius: 25px;
  
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50%;
    position: relative;
}
.bodyContent{
    background-color: white;
    padding: 0px 10px;
    height: calc(100% - 50%);
    border-radius: 25px;
}

#regularHeart{
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

#solidHeart{
    position: absolute;
    top: 15px;
    right: 15px;
    color:red;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}




.CostLable{
    display: flex;
    justify-content: space-between;
}
.price{
    display: flex;
    flex-direction: column;
}

h3{
    margin: 0px !important;
    margin-top: 20px !important;
    padding: 0px !important;
}
p{
    font-weight:lighter !important;
}

.someButtoons button{
      margin: 2px;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid lightgrey ;
}
#addtoCart{
    width: 60%;
    border-radius: 4px;
    background-color: rgb(102, 102, 153); 
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
}

#RemoveCart{
    width: 60%;
    border-radius: 4px;
    background-color:green; 
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
}

/* Responsive */

@media screen and (min-width:767px) and (max-width:1024px) {
        .innerContainer{
            height: fit-content;
        }
        .bodyContent{
            padding: 20px;
        }

}

@media screen and (max-width:768px){
    .innerContainer{
        height: fit-content;
        width: 90%;
    }
    .bodyContent{
        padding: 20px;
    }
}